body {
    font-family: "Roboto", sans-serif;
    color: #2e2f42;
    background-color: #fff;
}
a {
    text-decoration: none;
    
}
ul, ol {
    margin: 0;
    padding:0;
    list-style: none;
}
h2, h3, p{
    margin: 0;
    padding: 0;
}
.wrapper{
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
      
}
.header{
    border-bottom: 1px solid #e7e9fc
}
.header-container{
    display: flex;
    align-items: center;
}
.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}
.logo-part{
    color: #2e2f42;
    
}
.navigation{
    display: flex;
    align-items: center;
}
.nav-list{
    display: flex;
    gap: 40px;
}
.nav-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
}
 .nav-link:hover,
  .nav-link:focus {
 color: 404bbf;
}
.address{
    font-style: normal;
    margin-left: auto;
}
 
.address-list{
 display: flex;
 gap: 40px;
}
.address-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
    /* Effective Solutions */
.solutions-section{
    width: 1440px;
    height: 600px; 
    background-color: #2e2f42;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 120px; 
    }
.solutions-item{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-bottom: 54px; 
}
.solutions-button{
    gap: 10px;
    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    margin: 0 auto;
    display: block;
}
    /* Features */
.features-box{
    display: flex;
    gap: 24px;
}
.features{
  margin-bottom: 120px;
}
.features-list{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.features-item{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.features-paragraf{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
        /* Team */
.page-item{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
}
.our-team{
    padding-bottom: 72px;
}
.team{
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.team-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
   
}
.team-img{
    padding-bottom: 32px;
}

.team-item{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    padding-bottom: 8;
}
.team-paragraf{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}
        /* Our Portfolio */
.our-portfolio{
   padding-bottom: 72px;
}
.portfolio-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-card-img{
    width: 360px;
    height: 300px;
    object-fit: cover;
    display: block;
  
}
.portfolio-card-block{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
    width: 360px;
    height: 120px;
}
.portfolio-card-item{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    
}
.portfolio-card-paragraf{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
        /* Footer */
footer{
    
}
.page-footer{
    background: #2e2f42;
    width: 1440px;
    height: 312px;
}
.logo-footer{
    font-family: "Raleway", sans-serif;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0px;
}
.logo-second-part{
    color: #f4f4fd;
}
.footer-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}
